.grid {
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid grey;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 90%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    height: 90vh;
    box-sizing: border-box;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 50px 0px;
}

p, h1, input {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    gap: 16px;
}

.tools {
    min-width: 200px;
    text-align: center;
    background-color: grey;
    align-self: center;
    min-height: 600px;
    font-size: 16px;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

.toolBtns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}